html {
    background-image: url(imgs/mural.jpg);
    max-width: 100vw;
}

h1 {
    font-family: oldLondon;
    font-weight: 100;
    font-size: 64px;
}

.about {
    position: absolute;
    top: 8vh;
    bottom: 8vh;
    left: 0;
    padding: 2vh 2vw 8vh 2vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    backdrop-filter: blur(10px) brightness(0.5);
}   

p {
    word-break: keep-all;
    font-size: 24px;
}

.poem {
    font-family: serif;
    flex: 100%;
    text-align: end;
}

.poem h1 {
    font-style: normal;
}

.poem p {
    font-style: italic;
    line-height: 1.75;
}